<footer class="footer py-4 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-lg-start text-center">Copyright &copy; Agency 2024</div>
            <div class="col-lg-3 text-lg-start text-center">Developed By karim</div>
            <div class="col-lg-3 my-3 my-lg-0 text-center">
                <a class="btn btn-dark btn-social mx-2" href="#!" style="color: #ffffff; font-size: large; font-weight: 700;">X</a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
            </div>
            <div class="col-lg-3 text-lg-end text-center">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

